a {
  cursor: pointer;
}
body{
  background-color: rgb(236, 29, 37);
}
.btn-primary {
  color: #fcf8e3;
  background-color: #333;
  border-color: #fcf8e3;
  
}
.jumbotron {
 
  background-color: #ec1d25;
}
body{
  background-color: #ec1d25; 
}
