body {
    background-color: #ec1d25; 
    color: white;
    font-family: 'TradeGothic',sans-serif;
    font-size: 15px;
}
p {
    margin: 0 31px 10px;
    color: white;
    font-size: 14px;
}

button{
    background: #323232;
    margin: 25px;
    color: #ff1a1a;
    padding: 7px;
}
h4 {
    font-size: 21px;
    font-style: italic;
    color: #FFEB3B;
}